@import url(../global/style.css);
#cloth_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.form_field{
    background-color: var(--gray);
    color: #000;
    box-shadow: var(--shadow);
    border-radius: 15px;
    border: none;
    outline: none;
    width: 80vw;
    height: 5vh;
    padding: .5em 1em;
    text-align: center;
}
.form_field:focus{
    border-bottom: var(--red) 2px solid;
    color: var(--red);
    font-weight: 500;
}
.form_field::selection{
    background-color: var(--background);
    color: var(--red);
    font-weight: 500;
}
.form_field:focus::selection{
    background-color: var(--red);
    color: var(--background);
    font-weight: 500;
}

#save{
    background-color: #000;
    color: var(--gray);
    border-radius: 8px;
    border: none;
    outline: none;
    width: 50vw;
    height: 4vh;
    transition: var(--transition);
    /* box-shadow: var(--shadow); */
}
#save:hover{
    background-color: var(--red);
    color: var(--background);
    font-weight: 600;
    transition: var(--transition);
    transform: var(--grow);
}